<form method="post">
  <h2>Log In</h2>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
</form>
<a href="/new-account">Make a new Account!</a>
