<form method="post">
  <h2>Make a New Account</h2>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="text" name="email" placeholder="email">
  <input type="submit" value="Make my account!">
</form>
